In [10]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

In [6]:
title_list=[]
company_list=[]
link_list=[]
for i in range(0,1000,10):
    r = requests.get(f'https://hk.indeed.com/jobs?q=data+science&l=Hong+Kong&start={i}')
    soup = bs(r.content,'lxml')
    a=soup.find('table', id = "pageContent")
    b=a.find('td', id = "resultsCol")
    c= b.find_all('div', class_= "jobsearch-SerpJobCard unifiedRow row result")
    c= b.find_all('div', class_= "jobsearch-SerpJobCard unifiedRow row result")

    for i in c:
        x = i.find('a')
        link = x.get('href')
        link_list.append(link)
        title = i.find('h2').text.replace('\n','').replace('new','')
        title_list.append(title)
        company = i.find('span', class_="company").text.replace('\n','')
        company_list.append(company)
print(len(title_list))
print(len(link_list))
print(len(company_list))

1521
1521
1521

In [8]:
title_list[-1]

'Software Engineer (Mcu / Sensor) (~25K)'

In [13]:
df=pd.DataFrame({'Title':title_list,
                'Company Name':company_list,
                'link_list':link_list})

In [14]:
df

,Title,Company Name,link_list
0,Data Scientist,Apoidea,/pagead/clk?mo=r&ad=-6NYlbfkN0AG-Z5eZPqR3LFavv...
1,Data Analyst,"Worldmoney Blockchain Management Co., Limited",/pagead/clk?mo=r&ad=-6NYlbfkN0At3FyQdKw8oll2lZ...
2,Back Office Manager,China Post Global,/pagead/clk?mo=r&ad=-6NYlbfkN0B7T4tLgSfZHjfv89...
3,"Intern, Data Analytics",AIA,/rc/clk?jk=42ae4500d2e1c097&fccid=004041685e21...
4,Engineering Trainee (Artificial Intelligence &...,Virtual Control Limited,/company/Virtual-Control-Limited/jobs/Engineer...
...,...,...,...
1516,Analyst Programmer (E-commerce) - Welcome for ...,Bonjour Cosmetic Wholesale Center Limited,/pagead/clk?mo=r&ad=-6NYlbfkN0CSte6oGGtDxh-7fh...
1517,Senior Research Assistant / Research Assistant,Hong Kong Baptist University香港浸會大學,/pagead/clk?mo=r&ad=-6NYlbfkN0CSte6oGGtDxh-7fh...
1518,Test Manager (Core Banking Project),Dah Sing Financial Group,/pagead/clk?mo=r&ad=-6NYlbfkN0CSte6oGGtDxh-7fh...
1519,Business Analyst (eCommerce),A.S. Watson Retail (HK) Limited,/pagead/clk?mo=r&ad=-6NYlbfkN0CSte6oGGtDxh-7fh...
1520,Software Engineer (Mcu / Sensor) (~25K),Bond West Consultants,/pagead/clk?mo=r&ad=-6NYlbfkN0CSte6oGGtDxh-7fh...

In [17]:
print(df.link_list.iloc[-1])

/pagead/clk?mo=r&ad=-6NYlbfkN0CSte6oGGtDxh-7fhYpl3JUF32xG07cYNaxIIfxptA_Wgi2_nEAFSrMbNj1WHu8bcwrDoKeGGpNIEA2k9YhDr0SLWw9GNiffjQrSJPc9PEuXX88R71l_tLsK5EXLw4lByfZtpPqqYud_xprX7b6Yv1PdfwpNMgmpvk3o-KyVYTGNwLEWe0i_qMVH3Ik6QdRWp52BDO0M8r3j02gqeJ5DMas7LISoHjXyMa4joqVS3eCQFQHSn6w_sy_2PTo7j1hi2-nQkrzWxzcRYWV_Y6sp8M7E0CxLGyVpUcYPfnPI1H27E82kjQZOtXRqDvvEXk8gKywwyurovOvt9zcYb83XEdajfbCymkKT1VP3VwdXmjwcqOIido2PL7K3TYwWiWeNpSvJBUdD8bixyBYVmwfenMru6eOmGcN18fJuHoafDyttsk_obK5N4EDFNohLB8NzkNX9l-FG9r7AqwekGqlFtG0S-cXdd7LxEa-KD_ExUtsvvJY7iJSgNUYzs4tp4FzHehaLw1D8C8N79g1X6exDAozGKoCkTt-LU-Qe1Xu0rm_Gqt1RslGO-ZmI-nfXpndmyELMUal8Y2lTudLePhjXdNSzs8bo4-dQrvr-WVH8Y8oudpM4fSScJxRDoAwopIhrvPRHLOppOynwXELuqnrd0QzGKcocRcNdBuUgs7nOMhwrvuAYw0mO8cX&p=14&fvj=0&vjs=3

In [18]:
df.to_csv('Data_science.csv')

In [19]:
df['Company Name'].loc[1247]

'Bank SinoPac 永豐銀行'

In [20]:
df.to_excel('Data_science.xlsx')